<link rel="stylesheet" href="home.component.css">

    <main class="main-content">
        <section class="hero">
            <div class="hero-content">
                <h2>Bienvenido a MonederoInteligente</h2>
                <p>Tu herramienta confiable para el control de gastos personales.</p>
                <div class="hero-buttons">
                    <a routerLink="/registro"><button class="hero-button">Registrarse</button></a>
                </div>
            </div>
            <div class="hero-image">
                <img src="/assets/img-home.png" alt="Imagen Principal">
            </div>
        </section>

    <header class="header">
        <div class="header-left">
            <img src="/assets/logo.jpg" alt="Logo" class="header-logo">
            <!-- <h1 class="header-title">MonederoInteligente</h1> -->
        </div>
        <div class="main-text">
            <p align="justify">
                MonederoInteligente es una aplicacion, donde puedes administrar tus cuentas
                desde cualquier parte del mundo, puede obtener resultados de tus finanzas en tiempo real y de la forma mas sencilla posible, recibe actualizaciones al momento de tu dinero y ten el control sobre tus gastos.
            </p>
        </div>
        <!-- <div class="header-right">
            <button class="header-button">Registro</button>
            <button class="header-button">Comenzar Ahora</button>
        </div> -->
    </header>
    </main>

    <p class="sub-title">Conozca lo que MonederoInteligente le ofrece</p>


    <!--embedded para el diagrama de los beneficios de un control de gastos-->
    <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
    padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
    border-radius: 8px; will-change: transform;">
     <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
       src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGMWHjnvVo&#x2F;8VjzB-LmQkhyJ-vU65G_Pg&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
     </iframe>
   </div>

   <div class="main-text">
        <table>
            <tr>
                <th>Pasos para uso de MonederoInteligente</th>
            </tr>
            <tr>
            <td> 
            <a class="nav-link" routerLink="/registro" routerLinkActive="active"><u> - Registrate</u></a>
            </td>
            </tr>
            <tr>
            <td> - Ingresa tus datos reales</td>
            </tr>
            <tr>
            <td> - Define que tipo de usuario eres</td>
            </tr>
            <tr>
            <td> - Registre los ingresos actuales</td>
            </tr>
            <tr>
            <td> - Defina el tipo de gastos</td>
            </tr>
            <tr>
            <td> - Establece una fecha para cada gastos</td>
            </tr>
            <tr>
            <td> - Registrar el gasto</td>
            </tr>
            <tr>
            <td> - LISTO, solo da seguimiento a los gastos que se registren</td>
            </tr>
        </table>
        <div class="hero-image">
            <img src="/assets/engranes.jpg" alt="Engranes">
        </div>
   </div>


   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <footer class="footer">
     <div class="container-footer">
         <div class="footer-row">
             <div class="footer-links">
                 <h4>Servicios</h4>
                 <ul>
                     <li><a href="#">Nosotros</a></li>
                     <li><a href="#">Nuestros servicios</a></li>
                     <li><a href="#">Politicas de privacidad</a></li>
                     <li><a href="#">Afiliate</a></li>
                 </ul>
             </div>
             <div class="footer-links">
                 <h4>Ayuda</h4>
                 <ul>
                     <li><a href="#">Preguntas</a></li>
                     <li><a href="#">Pagos</a></li>
                 </ul>
             </div>
             <div class="footer-links">
                 <h4>Idioma</h4>
                 <ul>
                     <li><a href="#">Español</a></li>
                 </ul>
             </div>
             <div class="footer-links">
                 <h4>Siguenos</h4>
                 <div class="social-links">
                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-linkedin"></i></a>
                 </div>
             </div>
         </div>
     </div>
  </footer>

