<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonederoInteligente</title>
    <link rel="stylesheet" href="nosotros.component.css">
</head>
<body>

    <div class="contenedor">

        <div class="txt">
            <h1>Nosotros</h1>
            &nbsp;
            <p>En MonederoInteligente, nuestra misión es empoderar a las personas y </p>
            <p>las empresas para que tomen control total de sus finanzas. Nos comprometemos </p>
            <p>a proporcionar herramientas accesibles y efectivas que faciliten la gestión </p>
            <p>de gastos, promoviendo una mayor transparencia y responsabilidad financiera.</p>
        </div>

        <img class="imagen" src="/assets/img.png" alt="">


    </div>

    &nbsp;

    <div class="contenedor2">

        <img class="imagen2" src="/assets/img2.png" alt="">

        <div class="txt2">
            <h1>Oferta y Modelo de Empresa</h1>
            <p>En MonederoInteligente, ofrecemos una plataforma integral de control de</p>
            <p>gastos diseñada tanto para usuarios individuales como para empresas.Nuestra oferta incluye: </p>
            <p>Aplicación móvil y web: Herramientas fáciles de usar para el seguimiento de</p>
            <p>gastos en tiempo real. </p>
            <p>Análisis detallados: Informes personalizados que ayudan a identificar patrones </p>
            <p>de gasto y oportunidades de ahorro. </p>
            <p>Integración bancaria: Conexión segura con múltiples bancos para una visión </p>
            <p>completa de tus finanzas.</p>
            <p>Asesoramiento financiero: Consejos y estrategias proporcionados por expertos
            <p>para optimizar tus finanzas.</p>
            <p>Nuestro modelo de negocio se basa en una combinación de suscripciones mensuales </p>
            <p> y anuales, así como en servicios premium para aquellos que buscan un nivel más profundo </p>
            <p> de análisis y asesoramiento.</p>
        </div>

    </div>

    &nbsp;

    <div class="contenedor3">

        <div class="txt3">
            <h1>La Historia de Nuestra Empresa</h1>
            <p>MonederoInteligente fue fundada en 2024 por Carlos, Jaqueline, Jesús,</p>
            <p>quienes compartían una pasión por la tecnología y la gestión financiera. La empresa </p>
            <p>nació de la necesidad de pasar la materia de integradora con el objetivo de tener un </p>
            <p>control más efectivo sobre los gastos personales y corporativos, y desde entonces ha </p>
            <p>crecido para atender a miles de usuarios en todo el mundo.</p>
            &nbsp;
            <p>A lo largo de los años, hemos innovado constantemente, incorporando nuevas
            <p>funcionalidades y mejorando la experiencia del usuario, manteniéndonos siempre
            <p>fieles a nuestra misión de facilitar la gestión financiera para todos.</p>
        </div>

        <img class="imagen3" src="/assets/img3.jpg" alt="">

    </div>

    &nbsp;

    <div class="contenedor4">

        <img class="imagen4" src="/assets/img4.jpg" alt="">

        <div class="txt4">
            <h1>Nuestro Equipo</h1>
            <p>En MonederoInteligente, contamos con un equipo diverso de profesionales dedicados a</p>
            <p>ofrecer la mejor experiencia posible a nuestros usuarios. Entre ellos se encuentran:</p>
            <p>Desarrolladores de Software: Crean y mantienen nuestras plataformas digitales,</p>
            <p> asegurando su funcionalidad y seguridad.</p>
            <p>Analistas Financieros: Proporcionan insights y estrategias para ayudar a nuestros</p>
            <p>usuarios a tomar decisiones informadas.</p>
            <p>Especialistas en Atención al Cliente: Ofrecen soporte y asistencia personalizada para</p>
            <p>resolver cualquier duda o problema.</p>
            <p>Equipo de Marketing: Encargado de comunicar nuestro valor y expandir nuestra presencia</p>
            <p>en el mercado.</p>
            &nbsp;
            <p>Cada miembro de nuestro equipo aporta su experiencia y pasión, trabajando juntos para</p>
            <p>lograr nuestros objetivos comunes.</p>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container-footer">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Servicios</h4>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nuestros servicios</a></li>
                        <li><a href="#">Politicas de privacidad</a></li>
                        <li><a href="#">Afiliate</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Preguntas</a></li>
                        <li><a href="#">Pagos</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Idioma</h4>
                    <ul>
                        <li><a href="#">Español</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
     </footer>

</body>
</html>
